<div class="top-fixed">
    <a class="back"><span>NÅGRA AV NÄSETS ARTER</span></a>
    <div class="lang-group">
     <a class="swe selected">SVENSKA</a>
     <a class="en">ENGLISH</a>
    </div>
</div>

<div class="species-list"> <!-- there is only one creature.html which load corresponding data -->
  <a href="poster/1"> 
    <div class="circular" style="background-image: url(images/bivrak01.jpg)"></div>
      <div class="teaser">
        <h2>Bivråk</h2>
        <p>Pernis Apivorus</p>
    </div>
  </a>
  <a href="poster/2"> 
    <div class="circular" style="background-image: url(images/pic_padda.jpg)"></div>
      <div class="teaser">
        <h2>Grönfläckig padda</h2>
        <p>Bufo viridis</p>
    </div>
  </a>
  <a href="poster/3"> 
    <div class="circular" style="background-image: url(images/pic_sill.jpg)"></div>
      <div class="teaser">
        <h2>Sill</h2>
        <p>Clupea harengus</p>
    </div>
  </a>
  <a href="poster/4"> 
    <div class="circular" style="background-image: url(images/pic_sandodla.jpg)"></div>
      <div class="teaser">
        <h2>Sandödla</h2>
        <p>Lacerta agilis</p>
    </div>
  </a>
</div>